

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <div id = "div1" class="container">
      <h2>Sign up</h2>
      <div class="jumbotron">
        <form>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, class: "form-control",
            placeholder: "Enter Name" %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter Email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
            <small id: "passwordHelp" class: "form-text text-muted">Password Must contain atleast 6 characters</small>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-success btn-lg" %>
          </div>

         </form>
      </div>
    </div>
  </div>
  
<% end %>


 