<div >
  <div class="tab-pane active" id="comments-logout">                
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
        	<%= image_tag(comment.user.avatar, class: "media-object img-circle" )%>
          
        </a>
        <div class="media-body">
          <div class="well well-lg">
            <h4 class="media-heading text-uppercase reviews"><%=comment.user.name %></h4>
            <ul class="media-date text-uppercase reviews list-inline">
              <%= time_ago_in_words(comment.updated_at) %> ago
            </ul>
            <p class="media-comment">
              <%= comment.body %>
            </p>
            <% if comment.user == current_user %>
              <%= link_to 'Delete', [comment.product, comment], class: "btn btn-warning text-uppercase",
	               method: :delete,
	               data: { confirm: 'Are you sure?', remote: true } , id: "delete" %>
	          <% end %>
          </div>              
        </div>
      </li>
    </ul> 
  </div>
</div>