

<div class="container">
    <table id="cart" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:50%">Product</th>
                            <th style="width:10%">Price</th>
                            <th style="width:8%">Quantity</th>
                            <th style="width:22%" class="text-center">Subtotal</th>
                            <th style="width:10%"></th>
                        </tr>
                    </thead>
                    <% @total %>
                <% if @order_items.size > 0 %>
                    <% @order_items.each do |item| %>
                        <% @total = item  %>
                    <tbody>
                        <tr>
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-sm-2 hidden-xs">
                                        <%= image_tag url_for(item.product.images.first), class: "img-responsive"%>
                                    </div>
                                    <div class="col-sm-10">
                                        <h4 class="nomargin"> <%=item.product.name%></h4>
                                        <p><%=item.product.description%></p>
                                    </div>
                                </div>
                            </td>
                            <%= form_for(item, remote: true) do |f| %>
                                <td data-th="Price">$ <%= item.product.price %></td>
                                <td data-th="Quantity">
                                    <%= f.number_field :quantity, value: item.quantity.to_i, min: 1, class: 'form-control text-center' %>
                                </td>
                                <td data-th="Subtotal" class="text-center"><%= item.total_price %></td>
                                <td class="actions" data-th="">
                                    <%= f.button class: 'btn btn-info btn-sm' do %>
                                        <i class="fa fa-refresh"></i>
                                    <% end %>
                                    <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, item, method: :delete, remote: true, class: 'btn btn-danger btn-sm '%>
                                </td>
                            <% end %>
                        </tr>
                    </tbody>
                    <% end %>
                    <tfoot>
                        <tr class="visible-xs">
                            <td class="text-center"><strong>Total  1.99</strong>
                                <%=  %>
                            </td>
                        </tr>
                        <tr>
                            <td><%= link_to "< Continue Shopping", products_path, class: "btn btn-warning" %>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>Total: $<%= @total.order.subtotal%></strong></td>
                            <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                        </tr>
                    </tfoot>
                </table>
            <% end %>
</div>