<div class="sidenav">
  <div class="login-main-text">
    <h2>Demo<br> E-Commerce</h2>
    <p>Login or register from here to access.</p>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|%>

  <div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="login-form">
         <form>
          <h2>Sign in</h2>
            <div class="form-group">
               <%= f.label :email %>
               <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control", placeholder: "Email Address" %>
            </div>
            <div class="form-group">
               <%= f.label :password %>
               <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
            </div>
            <% flash.each do |key, value| %>
                <div class="<%= flash_class(key) %>">
                   <h4 class="stock"><%= value %> </h4>
                </div>
              <% end %>
            <div>
            <% if devise_mapping.rememberable? %>
              <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
              </div>
              <%= f.submit "Log in", class: "btn btn-success" %> 
              <%= render "devise/shared/links" %>
              
            <% end %>
         </form>
      </div>
    </div>
  </div>
<% end %>

