
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />



<div class="container">


    <% if @results_not_found %>
        <h1>No match found</h1>
      <% end %>
    <h3 class="h3">Products </h3>
    <div class="row">

        <% @products.each do |product| %>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid2">
                    <div class="product-image2">
                        <a href="#">
                           
                            <%= image_tag url_for(product.images.first), class: "pic-1"%>
                            <%= image_tag url_for(product.images.second), class: "pic-2"%>
                        </a>
                        
                        <ul class="social">
                            <%= form_for (@order_item) do |f| %>
                                <%= f.hidden_field :product_id, value: product.id %>
                                <%= f.hidden_field :quantity, value: 1 %>

                                <li><%= link_to '<i class="fa fa-eye"></i>'.html_safe, product %></li>
                                <li>

                                <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>

                                <%= f.submit "Add to cart", class: 'add-to-cart' %>
                            <% end %>

                    </div>
                        <div class="product-content">
                            <h3><%=product.name%></h3>
                            <span class="price">Pkr <%= product.price %></span>
                        </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
<hr>
