<div class="container">
  <% if @results_not_found %>
    <h1>No match found</h1>
  <% end %>
  <h3 class="h3">Products </h3>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid2">
          <div class="product-image2">
            <a href="#">
              <%= image_tag url_for(product.images.first), class: "pic-1"%>
              <%= image_tag url_for(product.images.second), class: "pic-2"%>
            </a>

              <ul class="social">
                <li>
                  <%= link_to '<i class="fa fa-eye"></i>'.html_safe, product %></li>
                <li>
                <% if user_signed_in? %>
                  <%= form_for (@order_item) do |f|   %>
                    <%= f.hidden_field :product_id, value: product.id %>
                    <%= f.hidden_field :quantity, value: 1 %>
                      <% if product.user != current_user && product.quantity > 0 %>
                        <li><%= f.button class: 'btn btn-light btn-circle btn-sm' do %>
                          <i class="fa fa-shopping-cart fa-lg"></i>
                        </li>
                      <% end %>
              </ul>
                <% if product.quantity > 0 %>
                  <%= f.submit "Add to cart", class: 'add-to-cart' %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          </div>
            <div class="product-content">
              <h3><%=product.name%></h3>
              <span class="price">$ <%= product.price %></span>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<hr>
