<div class="container">
  <h1>Invoice</h1>
<p>
  <label class="subtotal">
    <span>Subtotal: <%= number_to_currency(@amount * 0.01) %></span>
  </label>
</p>
<% if @coupon.present? %>
  <p>
    <label class="coupon">
      <span>Coupon: <%= @coupon.code %></span>
    </label>
  </p>
  <p>
    <label class="savings">
      <span>Savings: <%= number_to_currency(@discount_amount * 0.01) %></span>
    </label>
  </p>
  <p>
    <label class="discount">
      <span>Discount: <%= @coupon.discount_percent_human %></span>
    </label>
  </p>
<% end %>
<p>
  <label class="total">
    <span>Total: <%= number_to_currency(@final_amount * 0.01) %></span>
  </label>
</p>


  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Your Purchase"
          data-locale="auto">
          </script> 

  
</div>
