<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Demo Project</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "Home", products_path%></li>
              <li><%= link_to "About Us", about_path %></li>
              <li><%= link_to "Contact Us", contact_path %></li>
            </ul>
            <form class="navbar-form navbar-left">
              <%= form_for products_path, :method => 'get' do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class:"form-control" %> 
                <div class="input-group-btn">
                    <%= submit_tag "Search", :name => nil, class:"btn btn-warning"%>
                </div>
                <% end -%>
              </div>
            </form>            
            <ul class="nav navbar-nav navbar-right">
            </li>
            <% if user_signed_in? %>
              <li><%= link_to 'Add Product' , new_product_path %></li>
              <li class="dropdown">
                <a id="nav_drop" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.name%>
                  <%= image_tag(current_user.avatar , class: "img-circular" , id:"nav_image")%>
                  <span class="caret"></span>
                </a>
                
                <ul class="dropdown-menu">
                  <li><%= link_to 'Account' , edit_user_registration_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to 'Sign Out' , destroy_user_session_path, :method => :delete%></li>

                </ul>
              </li>
                    <!-- <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Dropdown
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><%= link_to 'Account' , edit_user_registration_path %></li>
                  <li><a href="#">Something else here</a></li>
                  <li><%= link_to 'Sign Out' , destroy_user_session_path, :method => :delete%></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div -->
                
              
            <% else %>
                <li><%= link_to 'Sign In' , new_user_session_path %></li>
                <li><%= link_to 'Sign Up' , new_user_registration_path %></li>
            <% end %>


            </ul>
          </div>
        </div>
      </nav>
    <%= yield %>
  </body>

</html>

